<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head><title>Responds With Pony Haiku</title>
<link rel="stylesheet" href="/css/20130415205531/stylesheet.css" title="applied_subreddit_stylesheet" type="text/css" />
<link rel='shortcut icon' href="/favicon.ico" type="image/x-icon" />
<style type="text/css">
	div#centerblock { margin-left: 30%; margin-right: auto; margin-top: 200px;}
	p#dateblock {/*text-align: center;*/ margin-top: 2em;}
	div#centerblock div.md p a {margin-right: 1em; }
	div#centerblock div.md p {font-size: 120%;}
	p#dateblock a:visited {opacity: 0.5;}
</style>
</head>
<body>
{{ content }}
</body>
</html>